<h2>Minu sangarid</h2>
<div>
  <label>Sangari nimi:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Lisa</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} on minu kangelane
  </h2>
  <button (click)="gotoDetail()">Vaata detailselt</button>
</div>