<div *ngIf="hero">
    <h2>{{hero.name}} detailid</h2>
    <div>
        <label>id: </label>{{hero.id}}
    </div>
    <div>
        <label>nimi: </label>
        <input [(ngModel)]="hero.name" placeholder="name" />
    </div>
</div>
<button (click)="goBack()">Tagasi</button>
<button (click)="save()">Salvesta</button>